@import "./partials/tipografia";
@import "./partials/variables.scss";

.containerHeader {
    font-size: $font-size;
    background-color: $background-colorHeaderFooter;
    .containerHeader__a:hover {
    padding: 12px;
    background: whitesmoke;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 40px;
    }
}

.containerFooter {
    background-color: $background-colorHeaderFooter;
    .containerFooter__ul {
        list-style: none;
    }
    .containerFooter__btn {
        background-color: $background-colorBtn;
        border: none;
    }
}

main {
    background-color: $background-colorMain;
}

.active {
    font-weight: 600;
}

/************ Index *********************/
.containerBuscador {
    width: 90%;
    height: 60vh;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    background-image: url(../img/background/backgroundbuscador.jpg);
    background-image: cover;
    border: 1px solid grey;
    border-radius: 0.5rem;
    .containerBuscador__h1 {
        margin: 1rem;
        padding: 1rem;
        color: whitesmoke;
    }
    .containerBuscador__btn {
        margin: 2rem 1rem;
        padding: 1rem;
        background-color: $background-colorBtn;
        border: 1px grey;
    }
}


.containerCarrusel {
    margin: 2rem 4rem;
    text-align: center;
    .containerCarrusel__h3 {
        color: $h3color;
        font-size: $font-sizeH;
        border-radius: 0.5rem;
    }  
    .containerCarrusel__heigthImg{
        height: 25rem;
    }  
}


.containerServicio {
    margin: 2rem 4rem;
        &__tarjeta {
        background-color: rgb(252, 225, 191);
            &__p {
                font-weight: 500;
            }
            &__btn {
                background-color: $background-colorBtn;
                border: none;
            }
     } 
}
/******************** Fin Index ***********************/

/******************* Ventas **************************/
.h1VA {
    color:$h1VentaAlquiler;
    text-align: center;
}

.h2VA {
    color: $h2VentaAlquiler;
    text-align: center;
}
 

.containerVentas {
    .containerVentas__heightImg {
        height: 209px;
    }
    .containerVentas__btn {
        background-color: $background-colorBtn;
        border: none;
        border-radius: 20px;
    } 
}
/******************* Fin Ventas **************************/


/******************* Alquileres **************************/
.h1VA {
    color: $h1VentaAlquiler;
    text-align: center;
}

.h2VA {
    color: $h2VentaAlquiler;
    text-align: center;
}

.containerAlquileres {
    .containerAlquileres__heightImg{
        height: 209px;
    }
    .containerAlquileres__btn {
        background-color: $background-colorBtn;
        border: none;
        border-radius: 20px;
    }
}
/******************* Fin Alquileres **************************/


/******************* Emprendimientos **************************/

.containerEmprendimientos__p {
    text-align: left;
}
.containerEmprendimientos__imagen {
    border-radius: 6px; 
}

#rondeau200 {
    transition: all 0.4s ease-out;
}
#rondeau200:hover {
    transform:scale(1.2);
}


#esquiu600 {
    transition: all 0.4s ease-out;
}
#esquiu600:hover {
    transform: scale(1.2);
}

#obispoTrejo596 {
    transition:all 0.4s ease-out ;
}
#obispoTrejo596:hover {
    transform: scale(1.2);
}


/******************* Fin Emprendimientos **************************/

/******************* La Empresa **************************/
.h1VA {
    color: $h1VentaAlquiler;
} 

.containerLaEmpresa__h2 {
        color: $h2VentaAlquiler;
    }



/******************* Fin La Empresa **************************/

/******************* Contacto **************************/
.containerContacto {
    &__h1 {
        color: $h1VentaAlquiler;
        text-align: center;
    }
    &__h2 {
        font-size: 1rem;
        color: $h2VentaAlquiler;
        text-align: center;
    }
    &__btn {
        border-radius: 40px;
        background-color: white;
        border: none;
    }
    &__form {
        margin-left: 8%;
        border: 1px solid grey;
        border-radius: 6px;
        height: 60%;
    }
    &__map {
        margin-left: 6%;
        overflow:hidden;
        padding-bottom:48%;
        position:relative;
        height:0;
    }
}

.containerContacto__map iframe{
    margin-top: 3rem;
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
}

/******************* Fin Contacto **************************/


/******************* Media Queries *************************/

@media only screen and (max-width: 425px) {
    .containerBuscador {
        width: 100%;
        height:90vh;
        margin: 0;
    }
    
    .containerServicio {
        margin: 1rem;
        padding: 0;
    }

    .containerTable {
        display: block;
        overflow-x: auto;
    }

    .containerContacto__form{
      margin: 0;
    }

    .containerContacto__map{
        margin: 0;
    }
   
  }


@media only screen and (max-width: 768px) {
    .buscador {
        width: 90%;
        height: 70vh;
        margin: 1rem;
        padding:1rem;
    }
    .containerBuscador {
        width: 100%;
        height:72vh;
        margin-bottom: 3rem;
    }

    table{
        width: auto;
    }
  }

/******************* Fin Media Queries *************************/